{%  extends 'base.html' %}
    {%  block title %} todo {%  endblock %}
    {%  block content %}
        {%  if request.user.is_authenticated %}
            <h5>
                {{  request.user.email }}
            </h5>
        {%  else %}
            <h5>
                not logged in
            </h5>
        {% endif %}
        <div class="card">
            {%  for todo in todos %}
                <a class="card-body" href="{% url 'detail' todo.id %}"> {{ todo.title }}</a>
            {% endfor %}
        </div>

    {%  endblock %}
